<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacexpro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewTicket"></activity>
        <activity android:name=".shirtCheckout" />
        <activity android:name=".ShirtHome" />
        <activity android:name=".ShopHome" />
        <activity android:name=".BookForm" />
        <activity android:name=".BookHome" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AstroApplication" />
        <activity android:name=".AstronautMain" />
        <activity
            android:name=".LatestActivity"
            android:label="Upcoming Missions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpcomingActivity"
            android:label="Latest Missions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FalconHeavypage"
            android:label="@string/title_activity_falcon_heavypage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleActivity"
            android:label="Vehicles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>